<launch>
  <node name="aruco_det" pkg="aruco_det" type="aruco_det" output="screen" >
    <param name="dictionary_id" value="10" />
    <param name="aruco_id" value="19" />
    <!-- aruco_length单位是米 -->
    <param name="aruco_length" value="0.05" />
    <param name="camera_param_path" value="$(find aruco_det)/config/camera.yaml" />
    <param name="sub_image_topic" value="/usb_cam/image_raw" />
  </node>
 
</launch>


